@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Lato:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import "tailwindcss";


body {
  font-family: "Lato", sans-serif;
  background-color: var(--color-zinc-900);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-green);
  margin-bottom: 20px;
}
